body {
  margin: 0;
  background-color: #000;
}

#modal {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}

#container {
  display: block;
  width: 100vw;
  height: 100vh;
}

.word {
  width: 100%;
  height: 50%;
  font-size: 45vh;
  line-height: 45vh;
}

#modal-text {
  width: 100%;
  height: 100%;
  font-size: 95vh;
  line-height: 95vh;
}

.styled-text {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #fff;
  background-color: rgba(0,0,0,0);
  text-align: center;
  text-transform: lowercase;
  vertical-align: middle;
}
